{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": [" > 1%", "last 2 versions"] //支持全球大于1%的浏览器,最新2个版本的浏览器
        // targets: "chrome 52"
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
